<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Parameters for joint speed limit (in radians per second) -->
<xacro:property name="WheelSpeed" value="14"/>

    <ros2_control name="GazeboReseQ" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="left_front_wheel_1_joint">
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_front_wheel_1_joint">
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_back_wheel_1_joint">
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_back_wheel_1_joint">
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="joint_a_1_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="joint_b_1_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="chassis2_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="left_front_wheel_2_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_front_wheel_2_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_back_wheel_2_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_back_wheel_2_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="joint_a_2_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="joint_b_2_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="chassis3_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="left_front_wheel_3_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_front_wheel_3_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_back_wheel_3_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_back_wheel_3_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="joint_a_3_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="joint_b_3_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="chassis4_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="left_front_wheel_4_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_front_wheel_4_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_back_wheel_4_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_back_wheel_4_joint"> 
            <command_interface name="velocity">
                <param name="min">${-WheelSpeed}</param>
                <param name="max">${WheelSpeed}</param>
            </command_interface> 
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="arm_mK1_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="effort"/>
        </joint>

    </ros2_control> 

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find reseq_gazebo)/config/my_controllers.yaml</parameters>
            <parameters>$(find reseq_gazebo)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
