controller_manager:
  ros__parameters:
    update_rate: 100
    use_sim_time: {{ use_sim_time | lower }}

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

{% if body_controllers %}
{% for i in range(num_modules) %}
    diff_controller{{ i + 1 }}:
      type: diff_drive_controller/DiffDriveController
{% endfor %}
{% endif %}

{% if yaw_controllers %}
{% for i in range(num_modules - 1) %}
    yaw_controller{{ i + 2 }}:
      type: forward_command_controller/ForwardCommandController
{% endfor %}
{% endif %}

{% if body_controllers %}
{% for i in range(num_modules) %}
    imu{{ i + 1 }}_broadcaster:
      type: imu_sensor_broadcaster/IMUSensorBroadcaster
{% endfor %}
{% endif %}

{% if arm_controller %}
    mk2_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_group_velocity_controller:
      type: velocity_controllers/JointGroupVelocityController
{% endif %}

{% if body_controllers %}
{% for i in range(num_modules) %}
diff_controller{{ i + 1 }}:
  ros__parameters:
    left_wheel_names:
      - mod{{ i + 1 }}__left_front_wheel
      - mod{{ i + 1 }}__left_back_wheel
    right_wheel_names:
      - mod{{ i + 1 }}__right_front_wheel
      - mod{{ i + 1 }}__right_back_wheel
    position_feedback: false
    odom_frame_id: odom
    base_frame_id: base_link
    wheel_separation: {{ wheel_separation }}
    wheel_radius: {{ wheel_radius }}
    wheels_per_side: 2
    use_stamped_vel: true
    enable_odom_tf: false  # EKF node publishes odom->base_link TF instead
    enable_odom: {{ 'true' if i == 0 else 'false' }}
    pose_covariance_diagonal: [0.001, 0.001, 0.0, 0.0, 0.0, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.0, 0.0, 0.0, 0.01]

{% endfor %}
{% endif %}

{% if arm_controller %}
mk2_arm_controller:
  ros__parameters:
    joints:
      - mod1__base_pitch_arm_joint
      - mod1__base_roll_arm_joint
      - mod1__elbow_pitch_arm_joint
      - mod1__forearm_roll_arm_joint
      - mod1__wrist_pitch_arm_joint
      - mod1__wrist_roll_arm_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    action_monitor_rate: 10.0
    allow_nonzero_velocity_at_trajectory_start: false
    continue_last_state: false
    default_tolerances:
      goals: 0.1
      goal_state: 0.1

joint_group_velocity_controller:
  ros__parameters:
    joints:
      - mod1__base_pitch_arm_joint
      - mod1__base_roll_arm_joint
      - mod1__elbow_pitch_arm_joint
      - mod1__forearm_roll_arm_joint
      - mod1__wrist_pitch_arm_joint
      - mod1__wrist_roll_arm_joint
    interface_name: velocity
{% endif %}

{% if yaw_controllers %}
{% for i in range(num_modules - 1) %}
yaw_controller{{ i + 2 }}:
  ros__parameters:
    joints:
      - mod{{ i + 2 }}__yaw_joint
    interface_name: position

{% endfor %}
{% endif %}

{% if body_controllers %}
{% for i in range(num_modules) %}
imu{{ i + 1 }}_broadcaster:
  ros__parameters:
    sensor_name: imu{{ i + 1 }}
    frame_id: imu{{ i + 1 }}_link

{% endfor %}
{% endif %}
