<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--   
        Creates the hardware interface for a the joint between two modules chassis

        @param id: the id of the joint (starting from 2)
    -->

    <xacro:macro name="control_chassis_joint_factory" params="id">

        <joint name="joint_y_${id}_joint">
            <state_interface name="position" />
        </joint>
        <joint name="joint_r_${id}_joint">
            <state_interface name="position" />
        </joint>
        <joint name="joint_p_${id}_joint">
            <state_interface name="position" />
        </joint>

    </xacro:macro>
</robot>