<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="2_Sloped_KRails">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.4821 0.64335 0.30732"
        rpy="0 0 0" />
      <mass
        value="1003.3" />
      <inertia
        ixx="231.93"
        ixy="6.772E-14"
        ixz="3.5436E-13"
        iyy="231.61"
        iyz="3.3462E-15"
        izz="431.82" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://2_Sloped_KRails/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://2_Sloped_KRails/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>