<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="config_path" default="$(find reseq_ros2)/config/temp/reseq_mk2_can.yaml"/>
  <xacro:property name="config_path_prop" value="$(arg config_path)"/>

  <xacro:property name="config" value="${xacro.load_yaml(config_path_prop)}"/>

  <xacro:if value="${config['version'] == 'mk1'}">
    <!-- arm related -->
    <xacro:property name="ForkThickness" value="${config['xacro']['ForkThickness']}"/>
    <xacro:property name="ForkHeight" value="${config['xacro']['ForkHeight']}"/>
    <xacro:property name="JetsonHolderLength" value="${config['xacro']['JetsonHolderLength']}"/>
    <xacro:property name="JetsonHolderWidth" value="${config['xacro']['JetsonHolderWidth']}"/>
    <xacro:property name="CylinderOnJetsonLength" value="${config['xacro']['CylinderOnJetsonLength']}"/>
    <xacro:property name="CylinderOnJetsonRadius" value="${config['xacro']['CylinderOnJetsonRadius']}"/>
    <xacro:property name="CylinderOnJetsonShift" value="${config['xacro']['CylinderOnJetsonShift']}"/>
    <xacro:property name="CylinderRealsenseLength" value="${config['xacro']['CylinderRealsenseLength']}"/>
    <xacro:property name="CylinderRealsenseRadius" value="${config['xacro']['CylinderRealsenseRadius']}"/>
    <xacro:property name="RealsenseLength" value="${config['xacro']['RealsenseLength']}"/>
    <xacro:property name="RealsenseWidth" value="${config['xacro']['RealsenseWidth']}"/>
    <xacro:property name="RealsenseHeight" value="${config['xacro']['RealsenseHeight']}"/>
    <xacro:property name="RealsenseOriginSystem" value="${config['xacro']['RealsenseOriginSystem']}"/>
  
    <!-- Rviz colors (for Gazebo ones change in single files) (from 0 to 1) -->
    <material name="ArmColor">
      <color rgba="0.5 0.5 0.5 1" />
    </material>
  </xacro:if>

  <!-- 
  <xacro:if value="${config['version'] == 'mk2'}">
    
  </xacro:if>
  -->

</robot>
