# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - mk2_arm_controller

  mk2_arm_controller:
    type: FollowJointTrajectory
    joints:
      - mod1__base_pitch_arm_joint
      - mod1__base_roll_arm_joint
      - mod1__elbow_pitch_arm_joint
      - mod1__forearm_roll_arm_joint
      - mod1__wrist_pitch_arm_joint
      - mod1__wrist_roll_arm_joint