moveit_servo_node:
  ros__parameters:
    moveit_servo:
      # From: https://github.com/moveit/moveit2/blob/main/moveit_ros/moveit_servo/config/servo_parameters.yaml

      ## --- General Settings ---
      use_gazebo: false                           # TODO: Set conditionally to true if running in Gazebo
      is_primary_planning_scene_monitor: false
      publish_period: 0.04                        # 25Hz (double the HW command cycle (12.5Hz))

      ## --- Command Settings ---
      command_in_type: "unitless"
      command_out_type: trajectory_msgs/JointTrajectory
      command_out_topic: /mk2_arm_controller/joint_trajectory

      publish_joint_positions: true
      publish_joint_velocities: true
      publish_joint_accelerations: false

      ## --- Smoothing Settings ---
      use_smoothing: true
      smoothing_filter_plugin_name: "online_signal_smoothing::ButterworthFilterPlugin"

      ## --- Robot-Frames and Groups ---
      move_group_name: mk2_arm
      planning_frame: arm_base_link
      ee_frame_name: arm_roll_wrist_link
      robot_link_command_frame: arm_base_link

      ## --- Singularity Avoidance Settings ---
      lower_singularity_threshold: 17.0
      hard_stop_singularity_threshold: 30.0 
      leaving_singularity_threshold_multiplier: 2.0

      ## --- Topic names ---
      cartesian_command_in_topic: /moveit_servo_node/delta_twist_cmds   # Twist commands
      joint_topic: /arm_joint_states                                    # Replicated joint states (fix ERROR in MoveIt with non-arm joints)

      ## --- Collision Settings ---
      check_collisions: false
      collision_check_rate: 10.0
      self_collision_proximity_threshold: 0.01
      scene_collision_proximity_threshold: 0.01

      ## --- Scaling Settings ---
      scale:
        linear: 0.15
        rotational: 0.3
        joint: 0.3
